html {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #CCC;
}

.links {
    flex: 1;
    justify-self: center;
    align-self: center;
}

.links_inner {
    left: 50%;
}

#shameless-self-promotion {
    margin-left: 50px;
}

#gamecont {
    box-sizing: border-box;
    margin: 0px;
    z-index: 1;
    padding: 0px;
    flex: 1;
}

#game {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#footer {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body > div {
    padding: 20px;
}

div.title {
    margin-left: 00px;
    font-size: 42px;  /* life, the Universe, and everything :) */
}

div.links {
    justify-content: center;
    margin-top: 15px;
    font-size: 15px;
    margin: 0px;
    padding-bottom: 2px;
    
    display: flex;
    flex-direction: row;
}

div.links a {
    margin-left: 15px;
    margin-right: 15px;
}

div.links > a {
    text-decoration: none;
}

div#header {
    flex: 0;
    height: 300px;

    display: flex;
    flex-direction: row;
    
    color: #EEDBCC;
    background-color: black;
}

#gamearea {
    position: relative;
    background-color: #999;
    font-size: 14px;
    flex: 1;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#overlay {
    box-sizing: border-box;
    margin-left: 40px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}